main {
  .about {
    .text-top {
      z-index: 600;
    }
    .curve {
      position: absolute;
      z-index: -10;
      width: 100%;
      left: 100%;
      bottom: -4px;
      transform: translateX(-100%);
    }

    .light-purple {
      background: rgba(42, 7, 249, 0.1) !important;

      &:focus {
        outline: 0;
        box-shadow: 0 0 0 0.25rem rgba(42, 7, 249, 0.05);
      }
    }
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  main {
    .speech-container {
      .speech-card {
        .divider {
        }
      }
    }
    .book-seat {
      background: #ff9822;
      padding: 0.75rem 1.75rem !important;
    }
  }
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
}
