*,
html,
body {
  font-family: "Asap", sans-serif;
}

header {
  // background: linear-gradient(180deg, #8717bb 0%, #33029f 100%);
  background: url("../../assets/image/bg-header.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 100;
  transition: ease-out;

  .first-meetup {
    background-color: #f20487;
    transform: translateY(8px);
  }

  .container {
    max-width: 1170px !important;
    margin: 0 auto;
  }

  .map {
    position: absolute;
    right: calc(50vw - 200px);
    top: 80px;
    z-index: -240;
  }

  .tower {
    position: absolute;
    bottom: 0px;
    height: 75%;
    left: 50vw;
    z-index: -110;
  }

  .freelancer-meetup {
    padding: 6rem 1rem 0 1rem;
    z-index: 1;

    .left {
      max-width: 710px;
    }

    .banner-title {
      line-height: 1;
      font-size: 56px;
      font-weight: 700;
      text-shadow: 0px 8px 8px rgba(0, 0, 0, 0.5);
      z-index: 100;
      margin-bottom: 2rem;
    }

    .ticket-link {
      background-color: #fd9113;
      font-weight: 500;
    }
  }

  .dropdown-menu {
    position: absolute;
    right: 0;
    top: 3rem;
    width: 200px;
    // background: rgba(255, 255, 255, 0.9);
    background: linear-gradient(45deg, #8717bb 0%, #33029f 100%);
    backdrop-filter: blur(6px);
    padding: 1.25rem 0.5rem;
    border-radius: 0.5rem;
    color: #111;
  }

  .biggest-freelancer {
    width: 370px;
    // background: #6f2dfa;

    .top {
      font-size: 30px;
      background: linear-gradient(90deg, #00b18b, #0297ee);
      position: relative;

      .mask-1 {
        position: absolute;
        bottom: -31.1px;
        left: 0;
        width: 100%;
      }
    }
    .bottom {
      margin-top: 22.2px;
    }

    .title {
      opacity: 0.6;
    }
    .des {
      font-size: 1.5rem;
    }
  }

  .topbar {
    z-index: 500;
  }

  .ellipse-1 {
    position: absolute;
    width: 140px;
    height: 140px;
    left: 8%;
    top: 700px;
    background: linear-gradient(180deg, #ff9822 0%, rgba(74, 23, 187, 0) 100%);
    opacity: 0.5;
    border-radius: 104px;
    z-index: -11;
  }

  .capsule-1 {
    position: absolute;
    width: 100px;
    height: 226px;
    right: 50px;
    top: -78px;
    background: linear-gradient(
      180deg,
      rgba(135, 23, 187, 0.85) 0%,
      rgba(74, 23, 187, 0.85) 100%
    );
    border-radius: 50px;
    z-index: -105;
  }

  .capsule-2 {
    position: absolute;
    width: 152px;
    height: 150px;
    right: 100px;
    top: 720px;
    background: linear-gradient(180deg, #811fe3 0%, rgba(74, 23, 187, 0) 100%);
    border-radius: 76px 76px 0 0;
    z-index: -105;
  }

  .countdown {
    background-image: url("../image/bg-1.png");
    padding: 1.25rem 1.25rem;
    transform: translateY(50%);
    position: relative;

    .inside {
      background: rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(6px);
      padding: 1rem 2.5rem;
    }

    .divide {
      position: absolute;
      width: 4px;
      height: 100px;
      right: 0;
      top: 0;
      border: 2px dashed rgba(34, 255, 202, 0.7);
      transform: translateY(-50%);
    }
  }

  .text-xl {
    font-size: 20px;
  }
  .opacity-text {
    opacity: 0.6;
  }
}

/* Portrait tablets and small desktops */
@media (min-width: 576px) {
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) {
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) {
}

/* Large desktops and laptops */
@media (min-width: 1170px) {
  header {
    .freelancer-meetup {
      padding: 12rem 0 0 0;
      z-index: 1;

      .left {
        max-width: 710px;
      }

      .banner-title {
        line-height: 1;
        font-size: 106px;
        font-weight: 700;
        text-shadow: 0px 8px 8px rgba(0, 0, 0, 0.5);
        margin-bottom: 2rem;
      }
    }
  }
}
