main {
  .time {
    background: url("../../assets/image/bg-time.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .text-sky {
    color: #00fcfa;
  }
}
